body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1678px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1678px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:831px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:1474px;
  width:361px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:1802px;
  top:109px;
  width:104px;
  height:40px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
