body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1568px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1568px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:776px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:1802px;
  top:114px;
  width:106px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:256px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:271px;
  width:208px;
  height:256px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:236px;
  width:208px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:256px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:273px;
  width:208px;
  height:256px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:238px;
  width:208px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:242px;
  width:30px;
  height:22px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
