body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:492px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:1809px;
  top:54px;
  width:104px;
  height:40px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:1412px;
  top:169px;
  width:105px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  border-width:0px;
  position:absolute;
  left:1517px;
  top:169px;
  width:101px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  border-width:0px;
  position:absolute;
  left:1611px;
  top:169px;
  width:101px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  border-width:0px;
  position:absolute;
  left:1722px;
  top:169px;
  width:191px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
