body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:576px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:183px;
  width:50px;
  height:28px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:310px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:220px;
  width:41px;
  height:310px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:147px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:310px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:530px;
  width:41px;
  height:310px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:147px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:103px;
  width:1112px;
  height:52px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:47px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:1403px;
  top:106px;
  width:493px;
  height:47px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:50px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:104px;
  width:605px;
  height:50px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:87px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:97px;
  width:197px;
  height:87px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:111px;
  width:58px;
  height:23px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:111px;
  width:24px;
  height:23px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:276px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:146px;
  width:276px;
  height:276px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:111px;
  width:276px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:256px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:1491px;
  top:146px;
  width:208px;
  height:256px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:1491px;
  top:111px;
  width:208px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:88px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
