body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:457px;
  width:64px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:457px;
  width:76px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:238px;
  width:133px;
  height:131px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
