body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1180px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1180px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:582px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:1820px;
  top:153px;
  width:100px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u575 {
  border-width:0px;
  position:absolute;
  left:1785px;
  top:302px;
  width:104px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:320px;
  width:50px;
  height:28px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:1385px;
  top:320px;
  width:50px;
  height:28px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:276px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:202px;
  width:276px;
  height:276px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:167px;
  width:276px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
