body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:492px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:1420px;
  top:233px;
  width:62px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:50px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:371px;
  width:189px;
  height:50px;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:372px;
  width:52px;
  height:43px;
  color:#FF0000;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  word-wrap:break-word;
}
#u528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:1351px;
  top:388px;
  width:113px;
  height:16px;
  color:#FF0000;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
