body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:576px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:1814px;
  top:171px;
  width:97px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:241px;
  width:50px;
  height:28px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:276px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:149px;
  width:276px;
  height:276px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:114px;
  width:276px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:163px;
  width:144px;
  height:96px;
  color:#FF0000;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:185px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:276px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:149px;
  width:276px;
  height:276px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:114px;
  width:276px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:256px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:1646px;
  top:149px;
  width:208px;
  height:256px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:1646px;
  top:114px;
  width:208px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:1489px;
  top:110px;
  width:40px;
  height:40px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:115px;
  width:64px;
  height:27px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
