body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:576px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:1814px;
  top:171px;
  width:97px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:241px;
  width:50px;
  height:28px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:276px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:149px;
  width:276px;
  height:276px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:114px;
  width:276px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
