body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:576px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:1821px;
  top:110px;
  width:81px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:174px;
  width:347px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:174px;
  width:347px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:1561px;
  top:174px;
  width:347px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:62px;
  width:113px;
  height:25px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:67px;
  width:37px;
  height:16px;
  color:#FF0000;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:53px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:103px;
  width:963px;
  height:53px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:109px;
  width:124px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:109px;
  width:81px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:109px;
  width:81px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:109px;
  width:81px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:1512px;
  top:109px;
  width:81px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:1616px;
  top:109px;
  width:81px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:1714px;
  top:109px;
  width:81px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:109px;
  width:81px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:109px;
  width:81px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
