body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:576px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:110px;
  width:124px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u151 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:110px;
  width:81px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u152 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:110px;
  width:81px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u153 {
  border-width:0px;
  position:absolute;
  left:1409px;
  top:110px;
  width:81px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u154 {
  border-width:0px;
  position:absolute;
  left:1511px;
  top:110px;
  width:81px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u155 {
  border-width:0px;
  position:absolute;
  left:1615px;
  top:110px;
  width:81px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u156 {
  border-width:0px;
  position:absolute;
  left:1713px;
  top:110px;
  width:81px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u157 {
  border-width:0px;
  position:absolute;
  left:1821px;
  top:110px;
  width:81px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
