body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1060px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1060px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:522px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_ann {
  border-width:0px;
  position:absolute;
  left:1913px;
  top:-4px;
  width:1px;
  height:1px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:545px;
  width:167px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  border-width:0px;
  position:absolute;
  left:1420px;
  top:111px;
  width:167px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
