body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:492px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:1416px;
  top:235px;
  width:71px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u237 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:709px;
  width:283px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:316px;
  width:21px;
  height:35px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:381px;
  width:21px;
  height:35px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:276px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:416px;
  width:276px;
  height:276px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:381px;
  width:276px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:1323px;
  top:294px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:49px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:418px;
  width:191px;
  height:49px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
