body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1198px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1198px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:591px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:233px;
  width:47px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u261 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:735px;
  width:258px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:296px;
  width:239px;
  height:16px;
  color:#FF0000;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
