body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1198px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1198px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:591px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:233px;
  width:47px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u193 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:735px;
  width:258px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
