body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:576px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:1794px;
  top:114px;
  width:117px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u240 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:921px;
  width:238px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:62px;
  width:113px;
  height:25px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:67px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:921px;
  width:124px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
