body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:442px;
  width:47px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:37px;
  background:inherit;
  background-color:rgba(25, 142, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:380px;
  width:141px;
  height:37px;
  font-size:16px;
  color:#FFFFFF;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:380px;
  width:414px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
