body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1010px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1010px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:497px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:455px;
  width:114px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u547 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:258px;
  width:56px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u548 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:472px;
  width:121px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:62px;
  width:113px;
  height:25px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:67px;
  width:139px;
  height:16px;
  color:#FF0000;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:276px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:375px;
  width:276px;
  height:276px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:340px;
  width:276px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:78px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:441px;
  width:126px;
  height:78px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:399px;
  width:126px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
