body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:576px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:860px;
  width:100px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:860px;
  width:100px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:108px;
  width:100px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:117px;
  width:59px;
  height:25px;
  font-size:18px;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u1441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:528px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:315px;
  width:707px;
  height:528px;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:256px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:48px;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:303px;
  width:346px;
  height:48px;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:48px;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:361px;
  width:356px;
  height:48px;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:48px;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:411px;
  width:356px;
  height:48px;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:419px;
  width:88px;
  height:29px;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u1451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:62px;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:458px;
  width:228px;
  height:62px;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1453 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:481px;
  width:295px;
  height:16px;
  color:#FF0000;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u1455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:390px;
}
#u1455 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:514px;
  width:688px;
  height:390px;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:187px;
  width:684px;
  visibility:hidden;
  word-wrap:break-word;
}
