body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:576px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:885px;
  width:249px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:1801px;
  top:109px;
  width:104px;
  height:40px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:62px;
  width:113px;
  height:25px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:67px;
  width:37px;
  height:16px;
  color:#FF0000;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:248px;
  width:21px;
  height:35px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:314px;
  width:21px;
  height:35px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:378px;
  width:21px;
  height:35px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
