body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1200px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1200px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:592px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:1086px;
  width:252px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:1791px;
  top:102px;
  width:129px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:189px;
  width:21px;
  height:35px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:255px;
  width:21px;
  height:35px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:311px;
  width:491px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:371px;
  width:491px;
  height:66px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:487px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:276px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:349px;
  width:276px;
  height:276px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:437px;
  width:491px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:507px;
  width:491px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:640px;
  width:364px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:256px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:929px;
  width:208px;
  height:256px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:896px;
  width:397px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:121px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:669px;
  width:265px;
  height:121px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
