body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:576px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:1427px;
  top:233px;
  width:53px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u590 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:702px;
  width:243px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:315px;
  width:21px;
  height:35px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:379px;
  width:21px;
  height:35px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:444px;
  width:21px;
  height:35px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:276px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:479px;
  width:276px;
  height:276px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:444px;
  width:276px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:276px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:416px;
  width:276px;
  height:276px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:381px;
  width:276px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:276px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:350px;
  width:276px;
  height:276px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:315px;
  width:276px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:446px;
  width:35px;
  height:28px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
