body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:576px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:1427px;
  top:233px;
  width:53px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u367 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:702px;
  width:243px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:315px;
  width:21px;
  height:35px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:379px;
  width:21px;
  height:35px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:444px;
  width:21px;
  height:35px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
