body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1200px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1200px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:592px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:396px;
  width:246px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:256px;
  width:51px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
