body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:492px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:1794px;
  top:102px;
  width:126px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:95px;
  width:69px;
  height:49px;
  color:#FF0000;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:64px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:99px;
  width:397px;
  height:64px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:1227px;
  top:183px;
  width:50px;
  height:28px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:1361px;
  top:183px;
  width:50px;
  height:28px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:1486px;
  top:183px;
  width:50px;
  height:28px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:256px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:143px;
  width:208px;
  height:256px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:276px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:148px;
  width:276px;
  height:276px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:117px;
  width:115px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u845 {
  border-width:0px;
  position:absolute;
  left:1361px;
  top:117px;
  width:251px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
