body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:576px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:810px;
  width:249px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:1802px;
  top:113px;
  width:104px;
  height:40px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:62px;
  width:113px;
  height:25px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:67px;
  width:37px;
  height:16px;
  color:#FF0000;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:449px;
  width:21px;
  height:35px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:576px;
  width:21px;
  height:35px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:768px;
  width:21px;
  height:35px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
