body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1041px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:40px;
  width:512px;
  height:33px;
  font-size:28px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:466px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:121px;
  width:1031px;
  height:466px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:225px;
  width:1027px;
  visibility:hidden;
  word-wrap:break-word;
}
