body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1142px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:472px;
}
#u1782 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:8px;
  width:119px;
  height:472px;
}
#u1783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:228px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:455px;
}
#u1784 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:8px;
  width:110px;
  height:455px;
}
#u1785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:220px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:453px;
}
#u1786 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:8px;
  width:127px;
  height:453px;
}
#u1787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:218px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:468px;
}
#u1788 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:8px;
  width:134px;
  height:468px;
}
#u1789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:226px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:332px;
}
#u1790 {
  border-width:0px;
  position:absolute;
  left:1051px;
  top:8px;
  width:91px;
  height:332px;
}
#u1791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:332px;
}
#u1792 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:587px;
  width:121px;
  height:332px;
}
#u1793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
