body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1200px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1200px;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:592px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:1433px;
  top:239px;
  width:47px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:737px;
  width:244px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
