body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2146px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:1767px;
  top:466px;
  width:91px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:1774px;
  top:503px;
  width:91px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:1774px;
  top:437px;
  width:75px;
  height:29px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:1774px;
  top:444px;
  width:29px;
  height:16px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:1774px;
  top:435px;
  width:95px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:62px;
  width:153px;
  height:25px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:67px;
  width:139px;
  height:16px;
  color:#FF0000;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u1095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:2051px;
  top:385px;
  width:95px;
  height:29px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u1097_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:184px;
  height:31px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:1882px;
  top:397px;
  width:169px;
  height:5px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:1904px;
  top:363px;
  width:113px;
  height:16px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
