body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:576px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:1793px;
  top:112px;
  width:111px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:757px;
  width:218px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:757px;
  width:139px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:501px;
  width:92px;
  height:43px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:44px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:501px;
  width:85px;
  height:44px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
