body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1010px;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1010px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:497px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:871px;
  width:125px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u534 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:871px;
  width:328px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:1803px;
  top:57px;
  width:104px;
  height:40px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:62px;
  width:113px;
  height:25px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:67px;
  width:139px;
  height:16px;
  color:#FF0000;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:175px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:253px;
  width:119px;
  height:175px;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:65px;
  height:31px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:329px;
  width:50px;
  height:5px;
  color:#FF0000;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:276px;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:417px;
  width:276px;
  height:276px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:382px;
  width:276px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:276px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:483px;
  width:276px;
  height:276px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:448px;
  width:276px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
