body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
}
#u1536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:492px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:1305px;
  top:235px;
  width:73px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:565px;
  width:243px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:318px;
  width:21px;
  height:35px;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:35px;
}
#u1541 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:381px;
  width:21px;
  height:35px;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
