body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1168px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:576px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:101px;
  width:254px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u637 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:101px;
  width:254px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u638 {
  border-width:0px;
  position:absolute;
  left:1811px;
  top:101px;
  width:109px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
