body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1200px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1200px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:592px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:1828px;
  top:284px;
  width:67px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:1795px;
  top:284px;
  width:23px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:1770px;
  top:284px;
  width:25px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:1828px;
  top:324px;
  width:67px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:1795px;
  top:324px;
  width:23px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:1770px;
  top:324px;
  width:25px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
